<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="COMApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <COMApp.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>COMアプリ</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BufferLine" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Group0" serializeAs="String">
                <value>コマンド0</value>
            </setting>
            <setting name="Group1" serializeAs="String">
                <value>コマンド1</value>
            </setting>
            <setting name="Group2" serializeAs="String">
                <value>コマンド2</value>
            </setting>
            <setting name="Group3" serializeAs="String">
                <value>コマンド3</value>
            </setting>
            <setting name="Group4" serializeAs="String">
                <value>コマンド4</value>
            </setting>
            <setting name="Group5" serializeAs="String">
                <value>コマンド5</value>
            </setting>
            <setting name="Group6" serializeAs="String">
                <value>フリーフォーマット</value>
            </setting>
        </COMApp.Properties.Settings>
    </userSettings>
</configuration>
